@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amaranth:wght@700&family=Bungee&family=El+Messiri:wght@700&family=Heebo:wght@300&family=Jura:wght@300;700&family=Lilita+One&family=Monoton&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Playfair+Display+SC&family=Staatliches&family=Syncopate:wght@700&family=Teko:wght@300&family=Ubuntu&display=swap');

.info-container {
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.information {
  background: radial-gradient(circle, rgba(60,60,60,0.9934348739495799) 0%, rgba(0,0,0,1) 47%, rgba(254,35,35,1) 48%, rgb(230, 75, 75) 100%);;
  padding: 50px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 300px;
}

.input-box input,
.input-box button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  position: relative;
  outline: none;
  font-family: 'Bungee', cursive;
}

.input-box button {
  cursor: pointer;
  transition: 500ms ease;
  border: none;
}

.input-box button:hover {
  background: rgb(14, 2, 2);
  color: #fff;
}


.input-box label {
  padding-bottom: 1rem;
  color: #fff;
  font-family: 'Bungee', cursive;
}

.ShowEmployeessection {
    width: 100vw;
    background: rgba(254,35,35,1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btnContainer {
    width: 90%;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}
.btnContainer button {
    padding: 20px 45px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 1.5rem;
    cursor: pointer; 
    transition: 1s ease;
    box-shadow: -2px 0px 0px 2px rgb(54, 48, 48);
}

.btnContainer button:hover {
    background: linear-gradient(9deg, rgba(60,60,60,0.9934348739495799) 0%, rgba(0,0,0,1) 47%, rgba(254,35,35,1) 48%, rgba(255,208,208,1) 100%);
}

ul li {
    color: #fff;
    list-style: none;
    padding-bottom: 1rem;
}
.employeesInfo {
    width: 80%;
    position: relative;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
    background: #000;
    padding: 25px;
    border-radius: 10px;
    border:2px solid #fff;
    font-family: 'Alata', sans-serif;
    overflow: hidden;
}

.update {
  padding:2rem 0;
}

.update-item {
  display: flex;
  /*mediaquery*/
  width: 400px;
  margin-bottom: 1rem;
}

.update input {
    padding: 5px 1rem;
}
.update button {
    padding:0 2rem;
    width: 200px;
    cursor: pointer;
    color: #fff;
    transition: 500ms ease;
    background: rgb(255, 69, 69);
    border: none;
    border-bottom: 1px solid #fff;
}
.update button:hover {
    color: #fff;
    background: rgba(254,35,35,1);
}
.delete {
  width: 150px;
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 1rem;
  padding: 5px;
  margin: .5rem;
  background: rgba(254,35,35,1);
  cursor: pointer;
  transition: 500ms ease;
}
.delete:hover {
  background: rgb(170, 15, 15);
}


@media screen and (max-width:700px) {
  .btnContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 40px;
  }
  .btnContainer button {
    width: 200px;
    padding: 15px 20px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .delete {
    left: 1rem;
  }
}

@media screen and (max-width:550px), 
screen and (max-height:750px){
  .update-item {
    width: fit-content;
    margin:10px 0;
    flex-direction: column;
  }
  .update input {
    width: 100%;
  }
  .update button {
    width: 100%;
    border-bottom: none;
  }
  .input-box {
    width: 220px;
  }
  .information {
    padding: 25px;
  }
}

@media screen and (max-width:300px) {
  .input-box {
    width: 180px;
  }
.input-box input,
.input-box button {
  padding: 5px ;
  
}
.update-item {
  width: 180px;
}
}